<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>universita atlantide</title>
</head>
<body>
<center>
<h1><i><u><font color="9900CC">Universita' di Atlantide</font></u></i></h1>

<table>
        <tr>
            <td><a href="stampastudenti">Gestione Studenti</a></td>
        </tr>
        <br>
        <hr>
        <tr>
            <td><a href="stampacorsi">Gestione Corsi di Laurea</a></td>
        </tr>
   
    </table>
	
	<br>
	<br>
	<p><span style="background-color: #cc99ff;">by Rim Ibourk</span></p>
	</center>
</body>

</html>